<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @band.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @band.show %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
